@model KOM.Scribere.Web.ViewModels.Profile.UserChangePasswordInputModel

@{
    this.ViewData["Title"] = "Change password";
    Layout = "_Layout";
}

<div class="text-center w-75 w-md-50 mx-auto">
    <h2>@this.ViewData["Title"]</h2>
    <hr />

    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="@this.Model.Email"></label>
            <input class="form-control" value="@this.Model.Email" disabled />
            <span asp-validation-for="@this.Model.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@this.Model.OldPassword"></label>
            <input class="form-control" asp-for="@this.Model.OldPassword" />
            <span asp-validation-for="@this.Model.OldPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@this.Model.NewPassword"></label>
            <input class="form-control" asp-for="@this.Model.NewPassword" />
            <span asp-validation-for="@this.Model.NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@this.Model.ConfirmPassword"></label>
            <input class="form-control" asp-for="@this.Model.ConfirmPassword" />
            <span asp-validation-for="@this.Model.ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary w-100 p-3">Change password</button>
        </div>
    </form>
</div> 