@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using iSolicitude.Web.Helpers
@model KOM.Scribere.Web.ViewModels.Profile.UserEditInputModel

@{
    this.ViewData["Title"] = "Edit profile";
    Layout = "_Layout";
}

<div class="text-center w-75 w-md-50 mx-auto">
    <h2>@this.ViewData["Title"]</h2>
    <hr />

    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="@this.Model.Email"></label>
            <input class="form-control" value="@this.Model.Email" disabled />
            <span asp-validation-for="@this.Model.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@this.Model.UserName"></label>
            <input class="form-control" asp-for="@this.Model.UserName" disabled />
            <span asp-validation-for="@this.Model.UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@this.Model.FirstName"></label>
            <input class="form-control" asp-for="@this.Model.FirstName" />
            <span asp-validation-for="@this.Model.FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@this.Model.LastName"></label>
            <input class="form-control" asp-for="@this.Model.LastName" />
            <span asp-validation-for="@this.Model.LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@this.Model.Town"></label>
            <input class="form-control" asp-for="@this.Model.Town" />
            <span asp-validation-for="@this.Model.Town" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@this.Model.CountryId" class="control-label">Country</label>
            <section class="field mb-4">
                <select class="form-control selectpicker" data-live-search="true" title="Select Country..."
                        id="country" asp-for="@this.Model.CountryId" asp-items="@this.Model.Countries">
                </select>
                <span asp-validation-for="@this.Model.CountryId" class="text-danger"></span>
            </section>
        </div>
        <div class="form-group">
            <label asp-for="@this.Model.Address1">Address</label>
            <input class="form-control" asp-for="@this.Model.Address1" />
            <span asp-validation-for="@this.Model.Address1" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@this.Model.Address2">Address</label>
            <input class="form-control" asp-for="@this.Model.Address2" />
            <span asp-validation-for="@this.Model.Address2" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@this.Model.PostalCode"></label>
            <input class="form-control" asp-for="@this.Model.PostalCode" />
            <span asp-validation-for="@this.Model.PostalCode" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@this.Model.PhoneNumber"></label>
            <input class="form-control" asp-for="@this.Model.PhoneNumber" />
            <span asp-validation-for="@this.Model.PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary w-100 p-3">Edit profile</button>
        </div>
        <div class="form-group">
            <p>
                <a asp-area="" asp-controller="Profile" asp-action="ChangePassword">@Localizer["Change password"]</a>
            </p>
        </div>
    </form>
</div> 