@page
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@inject IViewLocalizer Localizer
@model KOM.Scribere.Web.Areas.Identity.Pages.Account.RegisterModel
@{
    this.ViewData["Title"] = Localizer["Register"];
}

<h1 class="title">@this.ViewData["Title"]</h1>
<div class="row">
    <div class="w-75 w-md-50 mx-auto">
        <section class="social-container">
            <form class="form-horizontal" asp-area="" asp-controller="Authentication" asp-action="GoogleLogin" method="post">
                <button class="btn social" type="submit"><img src="https://res.cloudinary.com/pictures-storage/image/upload/v1606344065/product_images/boxoyfeb81912lephyj4.png" /></button>
            </form>
            <form class="form-horizontal" asp-area="" asp-controller="Authentication" asp-action="FacebookLogin" method="post">
                <button class="btn social" type="submit"><img src="https://res.cloudinary.com/pictures-storage/image/upload/v1606344116/product_images/ulebs0vz2tndri45cff4.png" /></button>
            </form>
        </section>

        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.UserName"></label>
                <input asp-for="Input.UserName" class="form-control" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input class="form-control" asp-for="Input.FirstName" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input class="form-control" asp-for="Input.LastName" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary w-100 p-3">@Localizer["Register"]</button>

            <small>
                @Localizer["By clicking the above button, you agree to our"]
                <a asp-area="" asp-controller="Home" asp-action="">@Localizer["Terms and conditions"]</a> @Localizer["and"]
                <a asp-area="" asp-controller="Home" asp-action="Privacy">@Localizer["Privacy policy"]</a>
            </small>

            <div class="form-group">
                <p>
                    <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">@Localizer["Login as an existing user"]</a>
                </p>
            </div>

            <input type="hidden" id="RecaptchaValue" asp-for="Input.RecaptchaValue" />
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://www.google.com/recaptcha/api.js?render=@this.Configuration["GoogleReCaptcha:Key"]"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('@this.Configuration["GoogleReCaptcha:Key"]', { action: 'register_form' }).then(function (token) {
                document.getElementById("RecaptchaValue").value = token;
            });
        });
    </script>
}

@section CustomCss {
    <link href="~/css/authentication.css" rel="stylesheet" asp-append-version="true" />
}
